* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
.App {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: #cccccc;
}
.title {
  padding: 20px;
  font-size: large;
  background-color: #222222;
  color: aliceblue;
  user-select: none;
}
.react {
  color: #61d9fa;
}
.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 5px 100px 5px;
}
.todo,
.completed {
  width: 90%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  user-select: none;
  word-break: break-all;
}
.completed {
  background-color: rgba(0, 128, 0, 0.25);
}
.todo-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.todo:hover,
.completed:hover {
  border: 2px solid #61d9fa;
  border-radius: 5px;
}
.options {
  color: #61d9fa;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}
.options:hover {
  text-decoration: underline;
}
.todo-options {
  position: absolute;
  top: 10px;
  right: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #272727;
  padding: 15px 0;
  border-radius: 5px;
  width: fit-content;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.option,
.edit-delete-comp {
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  user-select: none;
}
.option:hover {
  background-color: #707070;
  color: #fff;
}
.edit-delete-comp {
  color: #676867;
  cursor: default;
}
.time {
  font-size: small;
  padding-left: 10px;
}

#form-todo,
.form {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
#text-todo,
.input {
  width: 80%;
  background-color: #272727;
  border: none;
  outline: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 2px solid #61d9fa;
  padding: 10px 5px;
  color: #cccccc;
}
#submit-todo,
.btn {
  border: none;
  background-color: #61d9fa;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  color: #1e1e1e;
}
.status {
  padding: 30px;
}
.display {
  display: none;
}
